catboost==1.2
dice_ml==0.9
flaml==1.2.4
imblearn==0.0
interpret==0.4.1
joblib==1.2.0
lightgbm==3.3.5
lime==0.2.0.1
matplotlib==3.7.1
missingno==0.5.2
numpy==1.20.3
optuna==3.1.1
pandas==2.0.1
scikit_learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
shap==0.41.0
tensorflow==2.12.0
xgboost==1.7.5
gradio==3.32.0
joblib==1.2.0